/* 김진주 */

header {
    border-bottom: 1px solid #ccc;
    background-color: #96b6ed;
    color: white;
    padding: 30px 40px;
}

/* 윗줄 네비 */
header .nav {
    text-align: right;
    position : relative;
  	top: -13px;
  	font-size: 17px;

}

header .nav ul {
    list-style: none;
    display: inline-block;
    padding: 0;
    margin: 0;
}

header .nav ul li {
    display: inline-block;
    margin-left: 20px;
}

header .nav ul li a {
    text-decoration: none;
    color: white;
}

header .nav ul li a:hover {
    color: #ae8664;
    cursor: pointer;
}

/* 아랫줄 공지 */
header .notice {
    text-align: left;
    position : relative;
	top: 15px ;
	font-size: 17px;
}

header .notice ul {
    list-style: none;
    display: inline-block;
    padding: 0;
    margin: 0;
}

header .notice ul li {
    display: inline-block;
    margin-right: 15px;
}

header .notice ul li a {
    text-decoration: none;
    color: white;
}

header .notice ul li a:hover {
    color: #ae8664;
}
